.rooms-wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
    text-align: center;
    color: white;
    padding-bottom: 5px;
}

.room-header {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.room-name {
    
    font-family: MedievalSharp;
    font-weight: 400;
}

.players-block {
    min-height: 50px;
}

.rooms-wrapper > div{
    min-width: 125px;
    margin-left: 3px;
    margin-right: 3px;
}