
.info-panel {
    background: white;
    z-index: 999;
    position: fixed;
    right: 0;
    border: solid 1px gray;
    border-radius: 5px;
}

.room-header {
    text-align: center;
    font-weight: 300;
}

.player-item {
    border-top: solid 1px gray;
    display: flex;
    padding: 1px;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    padding: 1px;
}