
.info-panel {
    background: white;
    z-index: 999;
    position: fixed;
    right: 0;
    border-bottom: solid 1px gray;
    border-left: solid 1px gray;
    border-bottom-left-radius: 5px;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: 22px 35px 150px 50px 50px;
}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

.color-box {
    width: 20px;
    height: 20px;
}