.chat-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25%;
    max-width: 350px;
    z-index: 999;
}

.chat-history {
    height: 200px;
    background: white;
    border: solid 1px grey;
    border-radius: 3px;
    overflow-y: auto;
}

.chat-header {
    border: solid 1px grey;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    background: cornflowerblue;
}

.new-message {
    display: flex;
}