.settings-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.settings-content-box {
    text-align: center;
    width: 550px;
    border: solid 1px gray;
    border-radius: 5px;    
    margin-top: 25px;
    padding-left: 16px;
    padding-right: 16px;
}

.settings-list {
    overflow-y: auto;
    max-height: 600px;
    height: 50vh;
}