.ability-panel {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 80px
}

.ability-block-container {
    width: 80px;
    height: 80px;
    border: solid 1px silver;
    border-radius: 1px;
}

.ability-block {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
    vertical-align: middle;
    background-color: white;
    background-position: center;
}

.filler-block {
    width: 100%;
    height: 100%;
}

.filler-block__disabled {
    background-color: rgba(190,190,190, 0.75);
}

.ability-description-box {
    width: 350px;
}

.selected-block {
    border: solid 3px red !important;
}

.clickable {
    cursor: pointer;
}

.popover-stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    margin-top: -5px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}